package {{converterPackage}};

import javax.annotation.processing.Generated;
import java.util.stream.Collectors;
import com.google.protobuf.ByteString;
{{#classesData}}
import {{domainFullName}};
import {{protoFullName}};
    {{#oneofBaseFieldsData}}
        {{#oneOfFieldsData}}
import {{oneofImplClass}};
        {{/oneOfFieldsData}}
    {{/oneofBaseFieldsData}}
    {{#fieldsData}}
        {{#hasConverter}}
import {{converterFullName}};
        {{/hasConverter}}
    {{/fieldsData}}
{{/classesData}}

@Generated(value = "{{generator}}")
public class {{converterClass}} {
{{#classesData}}
    static public {{protoClass}} toProto({{domainClass}} domain) {

        {{protoClass}}.Builder builder = {{protoClass}}.newBuilder();
    {{#fieldsData}}
        {{#hasConverter}}
        {{converterClass}} converter = new {{converterClass}}();
        if(converter.shouldAssignToProto(domain.{{domainGetterMethod}}())) {
            {{{addToBuilderUsingConverter}}};
        }
        {{/hasConverter}}
        {{^hasConverter}}
        {{{checkNotNullCommand}}}
            {{{addToBuilderCommand}}};
        {{{closeCheckNotNullCommand}}}
        {{/hasConverter}}

    {{/fieldsData}}

    {{#oneofBaseFieldsData}}
        if(domain.get{{oneofBaseField}}() == null) {
        } else
        {{#oneOfFieldsData}}
        if(domain.get{{oneofBaseField}}().getClass() == {{oneofImplClass}}.class) {
            {{{addToBuilderCommand}}};
        } else
        {{/oneOfFieldsData}}
        {}

    {{/oneofBaseFieldsData}}
        return builder.build();
    }

    static public {{domainClass}} toDomain({{protoClass}} proto) {
        {{domainClass}} domain = new {{domainClass}}();

    {{#fieldsData}}
        {{#hasConverter}}
        {{{checkProtoHasValueCommand}}}
        {{converterClass}} converter = new {{converterClass}}();
        {{{setInDomainUsingConverter}}};
        {{{closeProtoHasValueCommand}}}
        {{/hasConverter}}
        {{^hasConverter}}
        {{{checkProtoHasValueCommand}}}
        {{{setInDomainCommand}}};
        {{{closeProtoHasValueCommand}}}
        {{/hasConverter}}
    {{/fieldsData}}

    {{#oneofBaseFieldsData}}
        switch (proto.get{{oneofProtoName}}Case()) {
        {{#oneOfFieldsData}}
            case {{oneofFieldCase}}:
                {{oneofImplClassSimple}} {{oneofImplVariable}} = {{oneofImplCreation}};
                {{setValueToVariable}}
                domain.set{{oneofBaseField}}({{oneofImplVariable}});
                break;
        {{/oneOfFieldsData}}
        }

    {{/oneofBaseFieldsData}}

        return domain;
    }

    {{/classesData}}
}